html, body
{
   width: 100%;
   height: 100%;
}
body
{
   background-color: #87CEFA;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Marquee1
{
   background-color: transparent;
   background-image: url(../images/index_Marquee1_bkgrnd.png);
   background-repeat: no-repeat;
   background-position: left top;
   border: 1px #C0C0C0 solid;
   text-align: center;
}
#Table1
{
   border: 2px #000000 solid;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
}
#Table1 td
{
   padding: 0px 0px 0px 0px;
}
#Table1 td div
{
   white-space: nowrap;
}
#Table1 .cell0
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 216px;
   height: 46px;
   font-family: Arial;
   font-size: 32px;
   line-height: 36px;
}
#Table1 .cell1
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   height: 46px;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table1 .cell2
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 216px;
   height: 51px;
   font-family: Arial;
   font-size: 32px;
   line-height: 36px;
}
#Table1 .cell3
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   height: 51px;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Button1
{
   border: 1px #2E6DA4 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: transparent;
   background-image: url(../images/index_Button1_bkgrnd.png);
   background-repeat: no-repeat;
   background-position: left top;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}

#Banner1
{
   background-color: #265A88;
   background: -moz-linear-gradient(left,#265A88 0%,#337AB7 50%,#337AB7 50%,#265A88 100%);
   background: -webkit-linear-gradient(left,#265A88 0%,#337AB7 50%,#337AB7 50%,#265A88 100%);
   background: -o-linear-gradient(left,#265A88 0%,#337AB7 50%,#337AB7 50%,#265A88 100%);
   background: -ms-linear-gradient(left,#265A88 0%,#337AB7 50%,#337AB7 50%,#265A88 100%);
   background: linear-gradient(left,#265A88 0%,#337AB7 50%,#337AB7 50%,#265A88 100%);
   border: 1px #245580 solid;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-align: center;
}
#Banner1 span
{
   display: block;
   height: 19px;
   margin: 39px 0px 39px 0px;
}

#wb_Text1
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
